stages:
  - init
  - rpmbuild
  - test
  - finish

.terraform:
  tags:
    - terraform

init:
  stage: init
  tags:
    - shell
  script:
    - schutzbot/update_github_status.sh start

RPM:
  stage: rpmbuild
  extends: .terraform
  script:
    - sh "schutzbot/ci_details.sh"
    - sh "schutzbot/mockbuild.sh"
  after_script:
    - schutzbot/update_github_status.sh update
  parallel:
    matrix:
      - RUNNER:
          - aws/fedora-34-x86_64
          - aws/fedora-34-aarch64
          - aws/rhel-8.4-ga-x86_64
          - aws/rhel-8.4-ga-aarch64

Testing:
  stage: test
  extends: .terraform
  script:
    - sh "schutzbot/ci_details.sh"
    - sh "schutzbot/deploy.sh"
    - sh "/usr/libexec/tests/koji-osbuild/integration.sh"
  after_script:
    - schutzbot/update_github_status.sh update
  parallel:
    matrix:
      - RUNNER:
          # https://quay.io/repository/osbuild/postgres available only for x86_64
          # - aws/fedora-33-aarch64
          - aws/fedora-34-x86_64
          # - aws/fedora-34-aarch64
      - RUNNER:
          - aws/rhel-8.4-ga-x86_64
          # - aws/rhel-8.4-ga-aarch64
        INTERNAL_NETWORK: ["true"]

finish:
  stage: finish
  tags:
    - shell
  script:
    - schutzbot/update_github_status.sh finish
